body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: "Roboto", arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  background-color: #e9d2b5;
  padding-top: 20px;
  align-items: flex-start;
  width: 100%;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 24px;
}

.header-left {
  justify-content: flex-start;
  display: flex;
  gap: 6px;
}

ul {
  display: flex;
  list-style: none;
  gap: 18px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header-links {
  justify-content: flex-end;
  margin-left: auto;
  padding: 0px 100px 20px 0px;
}

.hero {
  flex: 1;
  gap: 100px;
  background: #e9d2b5;
  font-size: 24px;
  color: #f9faf8;
  display: flex;
  padding: 30px 60px 60px 60px;
  justify-content: center;
  align-items: center;
}

.no-photo {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 50px;
}

.title-text {
  flex: 1;
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  width: 400px;
}

.hero-text {
  flex: 1;
  font-size: 18px;
  color: #e5e7eb;
  width: 400px;
}

img {
  max-width: 350px;
  max-height: 250px;
}

.instagram-container {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 20px;
  gap: 10px;
}

.instagram-media {
  width: 200px;
  height: 400px;
}

h2 {
  text-align: center;
}

.quote {
  background: #e9d2b5;
  padding-bottom: 100px;
}

.first-quote {
  padding-left: 50px;
}

.first-writer {
  padding-left: 400px;
}

.second-quote {
  text-align: center;
  padding-top: 100px;
}

.second-writer {
  padding-left: 850px;
}

.footer {
  text-align: center;
  background: #e9d2b5;
}
